# Simulation programming project

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
import geopy.distance
from scipy.optimize import linprog
import itertools

In [2]:
data = pd.read_csv('DemandAndFulfillmentLog.csv')

In [3]:
df = data.copy(deep=True)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5078 entries, 0 to 5077
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   RequestedDateTime  5078 non-null   object
 1   Rig                5078 non-null   object
 2   Material           5078 non-null   object
 3   QtyRequested       5078 non-null   int64
 4   ReceivedDateTime   4837 non-null   object
 5   QtyReceived        5078 non-null   int64
 6   Vessel             4879 non-null   object
 7   OriginPort         4879 non-null   object
dtypes: int64(2), object(6)
memory usage: 317.5+ KB

In [5]:
df.describe(include=['O'])

,RequestedDateTime,Rig,Material,ReceivedDateTime,Vessel,OriginPort
count,5078,5078,5078,4837,4879,4879
unique,373,4,6,4817,10,2
top,12/4/2021 0:00,BetaRig,DryBulk,7/24/2021 22:59,150C,HamburgPort
freq,19,1492,900,2,622,2463

In [6]:
df.describe(exclude=['O'])

       QtyRequested  QtyReceived
count   5078.000000  5078.000000
mean    1484.983655  1410.684915
std     1972.360420  1954.255474
min        1.000000     0.000000
25%       12.000000     9.000000
50%       60.000000    32.000000
75%     2500.000000  2400.000000
max     9800.000000  9800.000000

In [7]:
# format datetime

for col in ['RequestedDateTime', 'ReceivedDateTime'] :
    datetime = pd.to_datetime(df[col], errors='coerce', infer_datetime_format=True)
    df[col] = datetime
df

,RequestedDateTime,Rig,Material,QtyRequested,ReceivedDateTime,QtyReceived,Vessel,OriginPort
0,2021-01-01 08:00:00,AlphaRig,DeckCargo,5,2021-01-06 05:14:00,5,150A,RotterdamPort
1,2021-01-01 08:00:00,BetaRig,DeckCargo,7,2021-01-04 08:49:00,7,150B,RotterdamPort
2,2021-01-01 08:00:00,BetaRig,LiquidBulk,2000,2021-01-04 09:59:00,2000,150B,RotterdamPort
3,2021-01-01 08:00:00,BetaRig,Fuel,7700,2021-01-04 10:39:00,7700,150B,RotterdamPort
4,2021-01-01 08:00:00,BetaRig,DryBulk,2300,2021-01-04 14:30:00,2300,150B,RotterdamPort
...,...,...,...,...,...,...,...,...
5073,2021-12-31 08:00:00,CharlieRig,Fuel,1400,NaT,0,NaN,NaN
5074,2021-12-31 08:00:00,CharlieRig,Casing,9,NaT,0,NaN,NaN
5075,2021-12-31 08:00:00,CharlieRig,DryBulk,3100,NaT,0,NaN,NaN
5076,2021-12-31 08:00:00,DeltaRig,Casing,20,NaT,0,NaN,NaN
5077,2021-12-31 08:00:00,DeltaRig,DryBulk,2600,NaT,0,NaN,NaN

# Missing data

In [8]:
df[df['ReceivedDateTime'].isnull() == True]

,RequestedDateTime,Rig,Material,QtyRequested,ReceivedDateTime,QtyReceived,Vessel,OriginPort
4569,2021-11-25 00:00:00,DeltaRig,Casing,9,NaT,0,150I,HamburgPort
4570,2021-11-25 00:00:00,DeltaRig,DryBulk,2600,NaT,0,150I,HamburgPort
4580,2021-11-26 00:00:00,CharlieRig,DryBulk,2600,NaT,0,150G,HamburgPort
4581,2021-11-26 00:00:00,CharlieRig,Pipe,12,NaT,0,150G,HamburgPort
4583,2021-11-26 00:00:00,DeltaRig,LiquidBulk,2700,NaT,0,150I,HamburgPort
...,...,...,...,...,...,...,...,...
5073,2021-12-31 08:00:00,CharlieRig,Fuel,1400,NaT,0,NaN,NaN
5074,2021-12-31 08:00:00,CharlieRig,Casing,9,NaT,0,NaN,NaN
5075,2021-12-31 08:00:00,CharlieRig,DryBulk,3100,NaT,0,NaN,NaN
5076,2021-12-31 08:00:00,DeltaRig,Casing,20,NaT,0,NaN,NaN
5077,2021-12-31 08:00:00,DeltaRig,DryBulk,2600,NaT,0,NaN,NaN

There are 241 rows without ReceivedDateTime data and most are in the last months of the year  
some rows have Vessel and OriginPort data, which probably means that the order has not been delivered to the destination rig but the order has been assigned  
the other rows do not have Vessel and OriginPort data, which probably means that the order has not been assigned to any delivery attempt  
so, we are going to fill in missing ReceivedDateTime data for 2022-01-01 (assumed data collection date)

In [9]:
df['ReceivedDateTime'].fillna(value=pd.to_datetime('2022-01-01 00:00:00'), inplace=True)
df[-1:-10:-1]

,RequestedDateTime,Rig,Material,QtyRequested,ReceivedDateTime,QtyReceived,Vessel,OriginPort
5077,2021-12-31 08:00:00,DeltaRig,DryBulk,2600,2022-01-01,0,NaN,NaN
5076,2021-12-31 08:00:00,DeltaRig,Casing,20,2022-01-01,0,NaN,NaN
5075,2021-12-31 08:00:00,CharlieRig,DryBulk,3100,2022-01-01,0,NaN,NaN
5074,2021-12-31 08:00:00,CharlieRig,Casing,9,2022-01-01,0,NaN,NaN
5073,2021-12-31 08:00:00,CharlieRig,Fuel,1400,2022-01-01,0,NaN,NaN
5072,2021-12-31 08:00:00,CharlieRig,DeckCargo,1,2022-01-01,0,NaN,NaN
5071,2021-12-31 08:00:00,BetaRig,Casing,20,2022-01-01,0,150C,RotterdamPort
5070,2021-12-31 08:00:00,BetaRig,Fuel,2300,2022-01-01,0,150C,RotterdamPort
5069,2021-12-31 08:00:00,AlphaRig,Pipe,12,2022-01-01,0,NaN,NaN

In [10]:
df.to_csv('DemandAndFulfillmentLog_formatted.csv', index=False)

# Analysis
## Vessel type
There is a total of ten vessel  
Only vessel type **150** is currently being used by the company

In [11]:
df['Vessel'].value_counts()

150C    622
150A    621
150D    608
150B    565
150I    450
150F    432
150E    427
150G    403
150J    379
150H    372
Name: Vessel, dtype: int64

# Feature Engineering
In this cell, multiple columns are created to help with the analysis stage  
`TimeDiff` *datetime* : Total time spend between time of request and time of delivery  
`IsLate` *boolean* : True for "late delivery" (at least 5 days adter requested)  
`TimeLate` *datetime* : `TimeDiff` minus 5 days, clipped out negative values for in-time delivery  
`LatePenalty` *float* : Cost penalty for late delivery ($10,000 per hour)  
`QtyLost` *int* : Amount of cargo lost berfore delivery   
`Trip` *string* : Information about each delivery trip, comprise of OriginPort-Vessel-Rig

In [12]:
# function to group by request (orders from the same time in the same day is considered as the same request) and to calculate if the order is late or not
# by comparing the requested date with the minimum received date of the request

def late(df):
    grouped_request = df.groupby(['RequestedDateTime', 'Rig'])
    request = grouped_request.aggregate({'ReceivedDateTime':np.min, 'RequestedDateTime':np.min})
    request['TimeDiff'] = request['ReceivedDateTime'] - request['RequestedDateTime']
    request['IsLate'] = request['TimeDiff'] > pd.Timedelta('5 days')
    request['TimeLate'] = (request['TimeDiff'] - pd.Timedelta('5 days')).clip(lower='00:00:00')
    # late penalty of $10000 per hour if IsLate = true (a fraction of an hour late is calculated as one full hour late)
    request['LatePenalty'] = request['IsLate'] * (request['TimeLate'].dt.total_seconds() // 3600 + 1) * 10000
    return request

late(df)

                                  ReceivedDateTime   RequestedDateTime  \
RequestedDateTime   Rig
2021-01-01 08:00:00 AlphaRig   2021-01-06 05:14:00 2021-01-01 08:00:00
                    BetaRig    2021-01-04 08:49:00 2021-01-01 08:00:00
                    CharlieRig 2021-01-06 10:46:00 2021-01-01 08:00:00
                    DeltaRig   2021-01-07 01:02:00 2021-01-01 08:00:00
2021-01-02 08:00:00 AlphaRig   2021-01-06 06:04:00 2021-01-02 08:00:00
...                                            ...                 ...
2021-12-30 08:00:00 DeltaRig   2022-01-01 00:00:00 2021-12-30 08:00:00
2021-12-31 08:00:00 AlphaRig   2022-01-01 00:00:00 2021-12-31 08:00:00
                    BetaRig    2022-01-01 00:00:00 2021-12-31 08:00:00
                    CharlieRig 2022-01-01 00:00:00 2021-12-31 08:00:00
                    DeltaRig   2022-01-01 00:00:00 2021-12-31 08:00:00

                                      TimeDiff  IsLate        TimeLate  \
RequestedDateTime   Rig
2021-01-01 08:00:00 AlphaRig   4 days 21:14:00   False 0 days 00:00:00
                    BetaRig    3 days 00:49:00   False 0 days 00:00:00
                    CharlieRig 5 days 02:46:00    True 0 days 02:46:00
                    DeltaRig   5 days 17:02:00    True 0 days 17:02:00
2021-01-02 08:00:00 AlphaRig   3 days 22:04:00   False 0 days 00:00:00
...                                        ...     ...             ...
2021-12-30 08:00:00 DeltaRig   1 days 16:00:00   False 0 days 00:00:00
2021-12-31 08:00:00 AlphaRig   0 days 16:00:00   False 0 days 00:00:00
                    BetaRig    0 days 16:00:00   False 0 days 00:00:00
                    CharlieRig 0 days 16:00:00   False 0 days 00:00:00
                    DeltaRig   0 days 16:00:00   False 0 days 00:00:00

                                LatePenalty
RequestedDateTime   Rig
2021-01-01 08:00:00 AlphaRig            0.0
                    BetaRig             0.0
                    CharlieRig      30000.0
                    DeltaRig       180000.0
2021-01-02 08:00:00 AlphaRig            0.0
...                                     ...
2021-12-30 08:00:00 DeltaRig            0.0
2021-12-31 08:00:00 AlphaRig            0.0
                    BetaRig             0.0
                    CharlieRig          0.0
                    DeltaRig            0.0

[1492 rows x 6 columns]

In [13]:
# total late penalty
late(df)['LatePenalty'].sum()

1477100000.0

In [14]:
with pd.ExcelWriter('grouped_req.xlsx', datetime_format='YYYY-MM-DD HH:MM:SS') as writer:
    late(df).to_excel(writer, merge_cells=True)

In [15]:
df['QtyLost'] = (df['QtyRequested'] - df['QtyReceived'])

## Boat trips
from crosstab analysis, Vessel 150A, 150B, 150CC, 150D is only being used for delivery between RotterdamPort and AlphaRig, BetaRig  
in contrast, Vessel 150E, 150F, 150G, 150H, 150I, 150J is only being used for delivery between HamburgPort and CharlieRig, DeltaRig

In [16]:
pd.crosstab(index=df['Rig'], columns=df['Vessel'])

Vessel      150A  150B  150C  150D  150E  150F  150G  150H  150I  150J
Rig
AlphaRig     227   201   270   230     0     0     0     0     0     0
BetaRig      394   364   352   378     0     0     0     0     0     0
CharlieRig     0     0     0     0   240   259   229   123   273   188
DeltaRig       0     0     0     0   187   173   174   249   177   191

In [17]:
pd.crosstab(index=df['OriginPort'], columns=df['Vessel'])

Vessel         150A  150B  150C  150D  150E  150F  150G  150H  150I  150J
OriginPort
HamburgPort       0     0     0     0   427   432   403   372   450   379
RotterdamPort   621   565   622   608     0     0     0     0     0     0

In [18]:
sorted_receive = df.sort_values(by=['Rig', 'ReceivedDateTime'], ascending=True)

def select_rig_and_vessel(df, rig, vessel):
    return sorted_receive.loc[(df['Rig'].isin(rig)) & (df['Vessel'] == vessel), :].copy(deep=True)

selected_trip = select_rig_and_vessel(sorted_receive, ['CharlieRig', 'DeltaRig'], '150J')
selected_trip['ReceivedTimeDiff'] = selected_trip['ReceivedDateTime'].diff().dt.total_seconds() // 60
selected_trip['ReceivedTimeDiff'].fillna(value=0, inplace=True)
selected_trip['ReceivedTimeDiff'] = selected_trip['ReceivedTimeDiff'].clip(lower=0)
selected_trip

,RequestedDateTime,Rig,Material,QtyRequested,ReceivedDateTime,QtyReceived,Vessel,OriginPort,QtyLost,ReceivedTimeDiff
177,2021-01-13 08:00:00,CharlieRig,Fuel,7700,2021-01-18 16:44:00,7700,150J,HamburgPort,0,0.0
178,2021-01-13 08:00:00,CharlieRig,Casing,20,2021-01-18 20:35:00,20,150J,HamburgPort,0,231.0
188,2021-01-14 08:00:00,CharlieRig,DeckCargo,5,2021-01-19 00:55:00,5,150J,HamburgPort,0,260.0
189,2021-01-14 08:00:00,CharlieRig,LiquidBulk,1500,2021-01-19 01:45:00,1500,150J,HamburgPort,0,50.0
190,2021-01-14 08:00:00,CharlieRig,Fuel,1700,2021-01-19 02:15:00,1700,150J,HamburgPort,0,30.0
...,...,...,...,...,...,...,...,...,...,...
4486,2021-11-19 16:00:00,DeltaRig,DryBulk,3100,2021-12-28 08:27:00,3100,150J,HamburgPort,0,260.0
4487,2021-11-19 16:00:00,DeltaRig,Pipe,12,2021-12-28 09:42:00,12,150J,HamburgPort,0,75.0
4496,2021-11-20 00:00:00,DeltaRig,Fuel,7000,2021-12-28 12:42:00,7000,150J,HamburgPort,0,180.0
4977,2021-12-24 08:00:00,DeltaRig,Casing,9,2021-12-28 16:12:00,9,150J,HamburgPort,0,210.0
4513,2021-11-21 00:00:00,DeltaRig,Pipe,12,2021-12-28 18:09:00,12,150J,HamburgPort,0,117.0

In [19]:
def loadTime(df) :
    cargo = df['Material']
    if cargo == 'DeckCargo' :
        return df['QtyReceived'] * 10
    elif cargo == 'DryBulk' :
        return round(df['QtyReceived'] / 2500 * 60, 0)
    elif cargo == 'Fuel' :
        return round(df['QtyReceived'] / 2000 * 60, 0)
    elif cargo == 'LiquidBulk' :
        return round(df['QtyReceived'] / 3000 * 60, 0)
    elif cargo == 'Pipe' :
        return df['QtyReceived'] * 15
    elif cargo == 'Casing' :
        return df['QtyReceived'] * 13
    else :
        return 0

selected_trip['LoadTime'] = selected_trip.apply(loadTime, axis=1).shift(1)

In [20]:
def trip_cutter(df) :
    if abs(df['LoadTime'] - df['ReceivedTimeDiff']) > 1 :
        return 1
    else :
        return 0
tripcutter = selected_trip.apply(trip_cutter, axis=1)
selected_trip['Grouping'] = tripcutter.cumsum()
selected_trip.to_csv('selected_trip.csv', index=False)

In [21]:
list_of_request = list()
request_qty = [0,0,0,0,0,0]
dict_of_material = {'DeckCargo':0, 'DryBulk':1, 'Fuel':2, 'LiquidBulk':3, 'Pipe':4, 'Casing':5}
group_number = 0
for row in selected_trip.itertuples() :
    if group_number != row.Grouping :
        list_of_request.append(request_qty)
        group_number = row.Grouping
        request_qty = [0,0,0,0,0,0]
    request_qty[dict_of_material[row.Material]] += row.QtyReceived
list_of_request.append(request_qty)

list_of_request

[[37, 2000, 11500, 1500, 0, 20],
 [24, 0, 0, 4800, 50, 20],
 [8, 2400, 2700, 1900, 58, 12],
 [32, 7800, 2500, 5800, 12, 9],
 [30, 4800, 0, 9400, 22, 9],
 [7, 1700, 9400, 2700, 0, 32],
 [7, 3000, 7000, 3500, 17, 20],
 [0, 10800, 5500, 3400, 0, 12],
 [10, 0, 14800, 0, 36, 0],
 [7, 5200, 9100, 1900, 18, 9],
 [7, 4500, 9200, 0, 30, 9],
 [7, 2900, 0, 3200, 78, 0],
 [1, 3100, 5500, 2700, 17, 29],
 [0, 0, 7100, 3300, 60, 0],
 [37, 5600, 0, 3400, 45, 9],
 [0, 2500, 16200, 0, 5, 12],
 [5, 6800, 4700, 0, 12, 32],
 [0, 4700, 0, 1700, 0, 61],
 [44, 0, 7600, 2400, 50, 0],
 [12, 5200, 1600, 2800, 45, 12],
 [6, 2300, 17000, 0, 0, 12],
 [5, 3200, 6600, 0, 10, 40],
 [7, 5300, 0, 9700, 35, 0],
 [18, 7400, 4800, 0, 30, 12],
 [7, 4700, 2900, 3300, 12, 32],
 [7, 2100, 12000, 1100, 23, 9],
 [32, 2200, 0, 5300, 36, 21],
 [1, 5300, 8600, 2900, 12, 12],
 [14, 2000, 6700, 4300, 17, 20],
 [21, 0, 4700, 3400, 65, 0],
 [5, 5200, 2700, 3800, 10, 32],
 [0, 3100, 0, 3900, 23, 41],
 [21, 3500, 10500, 2300, 0, 20],
 [7, 0, 8400, 5100, 0, 32],
 [5, 8700, 2900, 6100, 12, 9],
 [0, 9000, 2000, 2700, 18, 20],
 [0, 2700, 2300, 3800, 30, 29],
 [5, 2800, 0, 2900, 65, 12],
 [0, 0, 0, 4800, 86, 0],
 [14, 2400, 7800, 5600, 18, 9],
 [21, 2900, 0, 4200, 70, 0],
 [0, 3800, 7900, 3600, 36, 0],
 [7, 5400, 2600, 1300, 0, 49],
 [14, 1900, 10200, 2000, 23, 12],
 [46, 5300, 1700, 0, 23, 32],
 [5, 2200, 16000, 4500, 0, 0],
 [0, 7500, 1900, 1300, 5, 41],
 [0, 0, 9000, 0, 55, 9],
 [0, 3100, 7000, 0, 24, 29]]

In [22]:
constrain = [0, 0, 0, 0, 0, 0]
lt = np.array(list_of_request)
gt = np.array(list_of_request) * -1
combine = np.concatenate((lt, gt))
combine[0::2] = lt
combine[1::2] = gt
b = np.array([23000, -21700] * (combine.shape[0] // 2)).reshape(1, -1)
b.shape
combine.shape
result = linprog(constrain, combine, b, bounds=(0, None), method='revised simplex')
print(result)

     con: array([], dtype=float64)
     fun: 0.0
 message: 'Optimization terminated successfully.'
     nit: 67
   slack: array([ 1.30000000e+03, -7.27595761e-12,  1.30000000e+03,  0.00000000e+00,
        4.87592788e+02,  8.12407212e+02,  1.12285308e+03,  1.77146925e+02,
        1.05918137e+03,  2.40818627e+02,  9.31077987e+02,  3.68922013e+02,
        9.02686618e+02,  3.97313382e+02,  1.14247963e+03,  1.57520366e+02,
        7.82774815e+02,  5.17225185e+02,  1.04337375e+03,  2.56626252e+02,
        8.24639127e+02,  4.75360873e+02,  4.71227257e+02,  8.28772743e+02,
        8.71121995e+02,  4.28878005e+02,  5.81601988e+02,  7.18398012e+02,
        5.49853767e+02,  7.50146233e+02,  9.30221807e+02,  3.69778193e+02,
        6.02165217e+02,  6.97834783e+02,  4.80072050e+02,  8.19927950e+02,
        5.54811627e+02,  7.45188373e+02,  5.59987141e+02,  7.40012859e+02,
        1.07563713e+03,  2.24362869e+02,  4.79751716e+02,  8.20248284e+02,
        1.30000000e+03, -3.63797881e-12,  8.14960383e+02,  4.85039617e+02,
        1.17444406e+03,  1.25555944e+02,  9.15096153e+02,  3.84903847e+02,
        9.78873340e+02,  3.21126660e+02,  1.30000000e+03, -7.27595761e-12,
        1.01094248e+03,  2.89057521e+02,  5.30724686e+02,  7.69275314e+02,
        9.65480483e+02,  3.34519517e+02,  5.45264829e+02,  7.54735171e+02,
        9.94037063e+02,  3.05962937e+02,  1.30000000e+03, -3.63797881e-12,
        1.13635325e+03,  1.63646754e+02,  8.63794383e+02,  4.36205617e+02,
        6.00486395e+02,  6.99513605e+02,  4.50353446e+02,  8.49646554e+02,
        4.72777678e+02,  8.27222322e+02,  1.15769210e+03,  1.42307899e+02,
        4.51396183e+02,  8.48603817e+02,  9.91873008e+02,  3.08126992e+02,
        5.59244845e+02,  7.40755155e+02,  7.85026228e+02,  5.14973772e+02,
        2.45642001e+02,  1.05435800e+03,  1.30000000e+03, -7.27595761e-12,
        7.30942483e+02,  5.69057517e+02,  4.19686811e+02,  8.80313189e+02,
        4.99603136e+02,  8.00396864e+02])
  status: 0
 success: True
       x: array([ 56.46046917,   0.95118157,   0.95020619,   0.91595535,
       210.82135608, 270.36476183])

In [23]:
def combine_trip(df):
    total_list = list()

    rig1, rig2 = [[['AlphaRig', 'BetaRig']], [['CharlieRig', 'DeltaRig']]]
    vessel1, vessel2 = [['150A', '150D'], ['150E','150F', '150G', '150J']]
    combination1 = list(itertools.product(rig1, vessel1))
    combination2 = list(itertools.product(rig2, vessel2))
    all_combinations = sum([combination1, combination2], [])

    for rig, vessel in all_combinations:
        sorted_receive = df.sort_values(by=['Rig', 'ReceivedDateTime'], ascending=True)
        selected_trip = select_rig_and_vessel(sorted_receive, rig, vessel)
        selected_trip['ReceivedTimeDiff'] = selected_trip['ReceivedDateTime'].diff().dt.total_seconds() // 60
        selected_trip['ReceivedTimeDiff'].fillna(value=0, inplace=True)
        selected_trip['ReceivedTimeDiff'] = selected_trip['ReceivedTimeDiff'].clip(lower=0)

        selected_trip['LoadTime'] = selected_trip.apply(loadTime, axis=1).shift(1)
        
        tripcutter = selected_trip.apply(trip_cutter, axis=1)
        selected_trip['Grouping'] = tripcutter.cumsum()

        list_of_request = list()
        request_qty = [0,0,0,0,0,0]
        dict_of_material = {'DeckCargo':0, 'DryBulk':1, 'Fuel':2, 'LiquidBulk':3, 'Pipe':4, 'Casing':5}
        group_number = 0
        for row in selected_trip.itertuples() :
            if group_number != row.Grouping :
                list_of_request.append(request_qty)
                group_number = row.Grouping
                request_qty = [0,0,0,0,0,0]
            request_qty[dict_of_material[row.Material]] += row.QtyReceived
        list_of_request.append(request_qty)
        total_list.append(list_of_request)

    return sum(total_list, [])


trips = combine_trip(df)
constrain = [0, 0, 0, 0, 0, 0]
lt = np.array(trips)
gt = np.array(trips) * -1
combine = np.concatenate((lt, gt))
combine[0::2] = lt
combine[1::2] = gt
b = np.array([23000, -21700] * (combine.shape[0] // 2)).reshape(1, -1)
print(combine.shape)
result = linprog(constrain, combine, b, bounds=(0, None), method='revised simplex')
print(result)

(716, 6)
     con: array([], dtype=float64)
     fun: 0.0
 message: 'The problem appears infeasible, as the phase one auxiliary problem terminated successfully with a residual of 1.7e+04, greater than the tolerance 1e-12 required for the solution to be considered feasible. Consider increasing the tolerance to be greater than 1.7e+04. If this tolerance is unnaceptably large, the problem is likely infeasible.'
     nit: 385
   slack: array([ 1.80142714e+03, -5.01427143e+02,  1.86235158e+03, -5.62351578e+02,
        1.63447880e+03, -3.34478803e+02,  2.08560511e+03, -7.85605115e+02,
        5.40363918e+02,  7.59636082e+02,  8.06530907e+01,  1.21934691e+03,
        3.08139468e+02,  9.91860532e+02,  9.83980720e+02,  3.16019280e+02,
        1.91680390e+03, -6.16803902e+02,  1.22008770e+03,  7.99122981e+01,
        2.23056160e+03, -9.30561595e+02,  1.51838525e+02,  1.14816147e+03,
        6.80475544e+02,  6.19524456e+02,  2.14377544e+03, -8.43775436e+02,
        9.31542924e+02,  3.68457076e+02,  5.79758477e+02,  7.20241523e+02,
        5.62265070e+02,  7.37734930e+02,  2.00336900e+02,  1.09966310e+03,
        2.21367212e+02,  1.07863279e+03,  1.35475666e+02,  1.16452433e+03,
        1.16274649e+03,  1.37253508e+02,  1.26818559e+03,  3.18144097e+01,
        1.01229044e+03,  2.87709558e+02,  5.56965925e+01,  1.24430341e+03,
        3.74496049e+02,  9.25503951e+02,  2.04195822e+03, -7.41958224e+02,
        7.65287254e+01,  1.22347127e+03,  1.27674256e+03,  2.32574360e+01,
        4.61603312e+01,  1.25383967e+03,  2.82207991e+01,  1.27177920e+03,
        1.68871241e+03, -3.88712409e+02,  9.53760732e+02,  3.46239268e+02,
        1.01248366e+03,  2.87516343e+02,  1.48201654e+03, -1.82016541e+02,
        2.60704883e+01,  1.27392951e+03,  1.01142863e+02,  1.19885714e+03,
        5.22377101e+02,  7.77622899e+02,  1.66675151e+02,  1.13332485e+03,
        9.26496890e+02,  3.73503110e+02,  6.39815237e+02,  6.60184763e+02,
        1.52722906e+03, -2.27229063e+02,  5.94029277e+02,  7.05970723e+02,
        1.36074920e+03, -6.07491968e+01,  1.48286723e+03, -1.82867227e+02,
        3.16166310e+02,  9.83833690e+02,  2.17176600e+03, -8.71766003e+02,
        1.43958609e+03, -1.39586087e+02,  1.37246389e+03, -7.24638936e+01,
        6.06756365e+02,  6.93243635e+02,  1.39255488e+03, -9.25548836e+01,
        6.73373972e+02,  6.26626028e+02,  1.56458939e+03, -2.64589388e+02,
        1.85243723e+03, -5.52437228e+02,  1.62677413e+02,  1.13732259e+03,
        1.07809724e+03,  2.21902760e+02,  2.88740652e+00,  1.29711259e+03,
        9.87505327e+02,  3.12494673e+02,  3.94408445e+02,  9.05591555e+02,
        3.96641733e+02,  9.03358267e+02,  2.23384665e+02,  1.07661534e+03,
        5.83621123e+02,  7.16378877e+02,  8.73193762e+02,  4.26806238e+02,
        1.21040778e+03,  8.95922177e+01,  1.26638634e+03,  3.36136578e+01,
        1.51348875e+03, -2.13488751e+02,  3.81707960e+01,  1.26182920e+03,
        3.23576057e+02,  9.76423943e+02,  1.20516470e+02,  1.17948353e+03,
        3.86677488e+02,  9.13322512e+02,  2.44162810e+02,  1.05583719e+03,
        1.50612933e+02,  1.14938707e+03,  4.63414254e+01,  1.25365857e+03,
        2.50840714e+02,  1.04915929e+03,  3.28197475e+02,  9.71802525e+02,
        1.42676586e+03, -1.26765859e+02,  7.32093722e+02,  5.67906278e+02,
        3.79263892e+01,  1.26207361e+03,  6.40849766e+02,  6.59150234e+02,
        3.26154197e+02,  9.73845803e+02,  1.86179026e+03, -5.61790258e+02,
        1.58596008e+03, -2.85960075e+02,  1.18890131e+03,  1.11098690e+02,
        2.60248397e+02,  1.03975160e+03,  1.16161612e+03,  1.38383877e+02,
        4.84235556e+02,  8.15764444e+02,  9.10306648e+02,  3.89693352e+02,
        1.73122064e+02,  1.12687794e+03,  2.22950397e+03, -9.29503971e+02,
        8.14968610e+02,  4.85031390e+02,  5.46760849e+02,  7.53239151e+02,
        6.77283873e+02,  6.22716127e+02,  1.81066850e+02,  1.11893315e+03,
        6.86539144e+02,  6.13460856e+02,  7.48006219e+02,  5.51993781e+02,
        7.42694435e+02,  5.57305565e+02,  1.24496382e+03,  5.50361768e+01,
        1.04903073e+03,  2.50969269e+02,  4.60017784e+02,  8.39982216e+02,
        1.53779867e+03, -2.37798667e+02,  1.11835755e+03,  1.81642448e+02,
        4.91882549e+02,  8.08117451e+02,  9.01545927e+02,  3.98454073e+02,
        7.89240506e+02,  5.10759494e+02,  3.91630083e+02,  9.08369917e+02,
        4.86170013e+02,  8.13829987e+02,  1.01037807e+03,  2.89621929e+02,
        1.52293154e+03, -2.22931542e+02,  6.69324786e+02,  6.30675214e+02,
        1.47724848e+03, -1.77248479e+02,  1.27247556e+02,  1.17275244e+03,
        2.25257706e+03, -9.52577060e+02,  1.48174726e+03, -1.81747261e+02,
        1.81731546e+03, -5.17315465e+02,  4.15142564e+02,  8.84857436e+02,
        1.52625063e+03, -2.26250633e+02,  1.95227998e+02,  1.10477200e+03,
        8.13811168e+02,  4.86188832e+02,  3.10266925e+02,  9.89733075e+02,
        4.72881150e+02,  8.27118850e+02,  1.37503161e+02,  1.16249684e+03,
        5.64076632e+01,  1.24359234e+03,  1.18874996e+03,  1.11250042e+02,
        2.86057910e+02,  1.01394209e+03,  3.65487092e+02,  9.34512908e+02,
        3.95240036e+02,  9.04759964e+02,  8.34043621e+02,  4.65956379e+02,
        1.46948701e+03, -1.69487012e+02,  1.29182384e+02,  1.17081762e+03,
        1.23369477e+02,  1.17663052e+03,  8.60187156e+02,  4.39812844e+02,
        8.08960014e+02,  4.91039986e+02,  1.41936195e+03, -1.19361955e+02,
        1.78231293e+03, -4.82312930e+02,  7.53330640e+02,  5.46669360e+02,
        6.11604345e+01,  1.23883957e+03,  3.36577548e+02,  9.63422452e+02,
        3.58640882e+02,  9.41359118e+02,  3.17645151e+02,  9.82354849e+02,
        8.56746166e+02,  4.43253834e+02,  7.41685074e+02,  5.58314926e+02,
        1.70528727e+03, -4.05287275e+02,  6.71738716e+02,  6.28261284e+02,
        3.25391814e+01,  1.26746082e+03,  3.01313815e+01,  1.26986862e+03,
        2.16568067e+02,  1.08343193e+03,  4.44365191e+02,  8.55634809e+02,
        1.96776797e+02,  1.10322320e+03,  2.81698420e+02,  1.01830158e+03,
        6.06565415e+02,  6.93434585e+02,  2.84250313e+02,  1.01574969e+03,
        8.95740329e+02,  4.04259671e+02,  1.09630382e+02,  1.19036962e+03,
        2.67379855e+01,  1.27326201e+03,  8.70032687e+02,  4.29967313e+02,
        2.94890722e+01,  1.27051093e+03,  1.05853449e+03,  2.41465514e+02,
        5.59704572e+01,  1.24402954e+03,  1.21387682e+03,  8.61231774e+01,
        2.52288155e+02,  1.04771184e+03,  1.79670496e+03, -4.96704962e+02,
        2.18482807e+03, -8.84828068e+02,  2.93017755e+02,  1.00698225e+03,
        5.02235199e+02,  7.97764801e+02,  2.18372779e+02,  1.08162722e+03,
        1.20851058e+02,  1.17914894e+03,  6.55095146e+01,  1.23449049e+03,
        2.81217841e+02,  1.01878216e+03,  2.88109588e+02,  1.01189041e+03,
        6.15786444e+01,  1.23842136e+03,  3.08165569e+02,  9.91834431e+02,
        1.40146799e+02,  1.15985320e+03,  5.17610953e+01,  1.24823890e+03,
        7.39251836e+01,  1.22607482e+03,  9.11015380e+01,  1.20889846e+03,
        3.86499400e+01,  1.26135006e+03,  1.31858807e+02,  1.16814119e+03,
        6.75864680e+02,  6.24135320e+02,  1.31951462e+02,  1.16804854e+03,
        2.43501670e+02,  1.05649833e+03,  1.47374970e+02,  1.15262503e+03,
        2.55163335e+02,  1.04483666e+03,  2.07860106e+02,  1.09213989e+03,
        1.05731681e+02,  1.19426832e+03,  8.87494829e+01,  1.21125052e+03,
        7.64463512e+00,  1.29235536e+03,  1.36266996e+02,  1.16373300e+03,
        8.48805510e+02,  4.51194490e+02,  4.51506767e+02,  8.48493233e+02,
        7.13585940e+02,  5.86414060e+02,  3.10339533e+02,  9.89660467e+02,
        1.53370054e+02,  1.14662995e+03,  3.46623114e+01,  1.26533769e+03,
        2.46244293e+02,  1.05375571e+03,  4.93861042e+02,  8.06138958e+02,
        1.14216710e+02,  1.18578329e+03,  2.58770017e+02,  1.04122998e+03,
        3.56405653e+02,  9.43594347e+02,  1.17316593e+02,  1.18268341e+03,
        3.65241089e+02,  9.34758911e+02,  1.82047621e+02,  1.11795238e+03,
        1.37379218e+01,  1.28626208e+03,  2.14036153e+01,  1.27859638e+03,
        1.94289655e+02,  1.10571035e+03,  2.22355687e+02,  1.07764431e+03,
        1.57942449e+01,  1.28420576e+03,  1.40025349e+02,  1.15997465e+03,
        6.16385176e+01,  1.23836148e+03,  8.57404984e+00,  1.29142595e+03,
        1.38483536e+03, -8.48353618e+01,  1.20083068e+03,  9.91693246e+01,
        9.16711500e+02,  3.83288500e+02,  1.90244314e+02,  1.10975569e+03,
        1.10559229e+02,  1.18944077e+03,  6.21718680e+01,  1.23782813e+03,
        1.12483395e+02,  1.18751661e+03,  2.37163107e+02,  1.06283689e+03,
        7.13889887e+02,  5.86110113e+02,  9.97445116e+02,  3.02554884e+02,
        1.00857985e+02,  1.19914202e+03,  1.79452722e+02,  1.12054728e+03,
       -1.09139364e-11,  1.30000000e+03,  1.18635439e+02,  1.18136456e+03,
        6.68925762e+02,  6.31074238e+02,  7.84329279e+01,  1.22156707e+03,
        6.58956464e+01,  1.23410435e+03,  8.76934411e+01,  1.21230656e+03,
        2.00153280e+02,  1.09984672e+03,  5.11904374e+02,  7.88095626e+02,
        2.05052407e+02,  1.09494759e+03,  1.47641598e+02,  1.15235840e+03,
        5.80854909e+02,  7.19145091e+02,  5.43777462e+02,  7.56222538e+02,
        1.91770966e+02,  1.10822903e+03,  2.31975122e+02,  1.06802488e+03,
       -1.09139364e-11,  1.30000000e+03,  3.95913018e+01,  1.26040870e+03,
        5.37271567e+01,  1.24627284e+03,  1.41829218e+03, -1.18292182e+02,
        2.92446001e+02,  1.00755400e+03,  2.08424050e+02,  1.09157595e+03,
        7.74457320e+02,  5.25542680e+02,  1.04806543e+03,  2.51934571e+02,
        2.22457382e+02,  1.07754262e+03,  1.81944371e+02,  1.11805563e+03,
        1.52966100e+01,  1.28470339e+03,  1.36364794e+03, -6.36479351e+01,
        8.33286410e+02,  4.66713590e+02,  7.60066706e+01,  1.22399333e+03,
        5.23029058e+00,  1.29476971e+03,  6.74968001e+01,  1.23250320e+03,
        1.96245414e+02,  1.10375459e+03,  4.87948628e+01,  1.25120514e+03,
        7.01861698e+01,  1.22981383e+03,  1.73611783e+02,  1.12638822e+03,
        9.18520165e+01,  1.20814798e+03,  2.18342021e+02,  1.08165798e+03,
        1.73136669e+02,  1.12686333e+03,  3.85546662e+02,  9.14453338e+02,
        2.69878090e+01,  1.27301219e+03,  1.66280059e+03, -3.62800586e+02,
        4.99950992e+02,  8.00049008e+02,  3.23834193e+02,  9.76165807e+02,
        8.60028260e+02,  4.39971740e+02, -7.27595761e-12,  1.30000000e+03,
        1.24817739e+03,  5.18226098e+01,  2.87746088e+02,  1.01225391e+03,
        6.32446234e+02,  6.67553766e+02,  5.98576687e+01,  1.24014233e+03,
        4.51051967e+01,  1.25489480e+03,  4.14930201e+02,  8.85069799e+02,
        8.78900271e+02,  4.21099729e+02,  6.07686025e+01,  1.23923140e+03,
        2.64485011e+02,  1.03551499e+03,  2.18303769e+02,  1.08169623e+03,
        3.15641939e+02,  9.84358061e+02,  7.85959803e+01,  1.22140402e+03,
        3.50029983e+02,  9.49970017e+02,  6.65845603e+02,  6.34154397e+02,
        7.50339360e+01,  1.22496606e+03,  4.61665345e+02,  8.38334655e+02,
        1.76466687e+01,  1.28235333e+03,  4.07696636e+02,  8.92303364e+02,
        7.00426468e+01,  1.22995735e+03,  1.92930658e+02,  1.10706934e+03,
        9.01436785e+01,  1.20985632e+03,  2.94032261e+02,  1.00596774e+03,
        1.34544541e+03, -4.54454146e+01,  7.41079517e+02,  5.58920483e+02,
        7.63145582e+02,  5.36854418e+02,  1.98626377e+01,  1.28013736e+03,
       -1.45519152e-11,  1.30000000e+03,  1.64877484e+03, -3.48774845e+02,
        3.39878529e+02,  9.60121471e+02,  3.03598556e+02,  9.96401444e+02,
        3.60624482e+02,  9.39375518e+02,  2.23223225e+02,  1.07677678e+03,
        2.91241885e+02,  1.00875811e+03,  1.55673315e+02,  1.14432668e+03,
        2.33128881e+02,  1.06687112e+03,  3.29961968e+02,  9.70038032e+02,
        4.06859051e+01,  1.25931409e+03,  2.97053966e+01,  1.27029460e+03,
        1.52160675e+02,  1.14783933e+03,  2.18531284e+02,  1.08146872e+03,
        6.48801289e-01,  1.29935120e+03,  2.63227412e+02,  1.03677259e+03,
        9.75585118e+01,  1.20244149e+03,  1.27182775e+02,  1.17281722e+03,
        2.15627005e+02,  1.08437300e+03,  5.53282504e+02,  7.46717496e+02,
        9.81345198e+02,  3.18654802e+02,  1.44371888e+02,  1.15562811e+03,
        1.74820088e+02,  1.12517991e+03,  8.43415259e+01,  1.21565847e+03,
        1.67071061e+02,  1.13292894e+03,  1.37834563e+02,  1.16216544e+03,
        4.59491299e+01,  1.25405087e+03,  8.53021924e+01,  1.21469781e+03,
        1.96364251e+02,  1.10363575e+03,  1.81798324e+02,  1.11820168e+03,
        1.40599415e+02,  1.15940059e+03,  2.41788375e+02,  1.05821162e+03,
       -2.91038305e-11,  1.30000000e+03,  8.18109528e+01,  1.21818905e+03,
        1.15099328e-01,  1.29988490e+03,  6.36791003e+01,  1.23632090e+03,
        1.32674160e+02,  1.16732584e+03,  7.57491323e+01,  1.22425087e+03,
        4.94507990e+01,  1.25054920e+03,  1.18357843e+02,  1.18164216e+03,
        2.53236303e+01,  1.27467637e+03,  2.51450132e+02,  1.04854987e+03,
        2.67478071e+02,  1.03252193e+03,  5.50659268e+02,  7.49340732e+02,
        1.48421937e+02,  1.15157806e+03,  5.06326805e+02,  7.93673195e+02,
        3.74927098e+02,  9.25072902e+02,  2.51760896e+02,  1.04823910e+03,
        9.55234790e+01,  1.20447652e+03,  2.79517208e+02,  1.02048279e+03,
        1.01247191e+02,  1.19875281e+03,  1.33098707e+02,  1.16690129e+03,
        4.64894050e+02,  8.35105950e+02,  6.07897881e+01,  1.23921021e+03,
        1.14608901e+02,  1.18539110e+03,  6.96630207e+01,  1.23033698e+03,
        1.40751395e+02,  1.15924860e+03,  1.46696812e+02,  1.15330319e+03,
        2.07367426e+02,  1.09263257e+03,  4.64697004e+01,  1.25353030e+03,
        1.32661072e+02,  1.16733893e+03,  8.39479781e+01,  1.21605202e+03,
        5.31141985e+01,  1.24688580e+03, -1.45519152e-11,  1.30000000e+03,
        5.29058613e+00,  1.29470941e+03,  1.78495129e+02,  1.12150487e+03,
        2.44285983e+01,  1.27557140e+03,  3.13983881e+01,  1.26860161e+03])
  status: 2
 success: False
       x: array([ 55.08384002,   1.00060274,   1.00066915,   1.00161284,
       209.83211099, 269.86477246])

from the result, we can safely rounded the number of volume per unit (or bundle) of DeckCargo, Pipe, and Casing to be:  
DeckCargo = 55 m<sup>3</sup> / unit  
Pipe = 210 m<sup>3</sup> / bundle  
Casing = 270 m<sup>3</sup> / bundle  

reapply the numbers back into the original data  to check if it is indeed correct :

In [24]:
result = np.array([55, 1, 1, 1, 210, 270])
original_data = np.array(combine_trip(df))

# if any of the result is out of bound (not within 90% to 100% of 23000 m^3) then the result will be false
print((original_data.dot(result) <= 23000).all() and (original_data.dot(result) >= 23000*0.9).all())

True

# Travel sequence path

In [85]:
nodedata = pd.read_csv('nodedata.csv')
node_df = nodedata.copy(deep=True)
node_df

         NodeName  Latitude  Longitude  NodeType       Region
0     HamburgPort  53.55562    9.98745      Port    The South
1   RotterdamPort  51.89566    4.35257      Port    The South
2        AlphaRig  54.45067    2.37275       Rig    The South
3         BetaRig  57.02179   -0.67314       Rig  The Central
4      CharlieRig  57.84155    0.84980       Rig  The Central
5        DeltaRig  59.42662   -5.24196       Rig    The North
6            Echo  54.00555    8.46451  Waypoint    The South
7         Foxtrot  54.45067    5.41863  Waypoint    The South
8            Golf  52.17672    3.51495  Waypoint    The South
9           Hotel  53.55562    3.89569  Waypoint    The South
10          India  56.18354    0.84980  Waypoint  The Central
11        Juliett  59.42662   -0.67314  Waypoint    The North
12           Kilo  60.19243   -3.71902  Waypoint    The North
13           Lima  56.18354    5.41863  Waypoint  The Central
14    BelfastPort  54.63619   -5.88159      Port    The South
15           Mike  56.18354   -8.28784  Waypoint  The Central

In [86]:
pathdata = pd.read_csv('PathData.csv')
path_df = pathdata.copy(deep=True)
path_df

        StartNode        EndNode                       Sequence
0     HamburgPort  RotterdamPort  Echo - Foxtrot - Hotel - Golf
1     HamburgPort       AlphaRig                 Echo - Foxtrot
2     HamburgPort        BetaRig         Echo - Foxtrot - India
3     HamburgPort     CharlieRig                    Echo - Lima
4     HamburgPort       DeltaRig   Echo - Lima - Juliett - Kilo
5   RotterdamPort    HamburgPort  Golf - Hotel - Foxtrot - Echo
6   RotterdamPort       AlphaRig                   Golf - Hotel
7   RotterdamPort        BetaRig           Golf - Hotel - India
8   RotterdamPort     CharlieRig                   Golf - Hotel
9   RotterdamPort       DeltaRig  Golf - Hotel - Juliett - Kilo
10       AlphaRig    HamburgPort                 Foxtrot - Echo
11       AlphaRig  RotterdamPort                   Hotel - Golf
12       AlphaRig        BetaRig                          India
13       AlphaRig     CharlieRig                   Direct Route
14       AlphaRig       DeltaRig                 Juliett - Kilo
15        BetaRig    HamburgPort         India - Foxtrot - Echo
16        BetaRig  RotterdamPort           India - Hotel - Golf
17        BetaRig       AlphaRig                          India
18        BetaRig     CharlieRig                   Direct Route
19        BetaRig       DeltaRig                 Juliett - Kilo
20     CharlieRig    HamburgPort                    Lima - Echo
21     CharlieRig  RotterdamPort                   Hotel - Golf
22     CharlieRig       AlphaRig                   Direct Route
23     CharlieRig        BetaRig                   Direct Route
24     CharlieRig       DeltaRig                 Juliett - Kilo
25       DeltaRig    HamburgPort   Kilo - Juliett - Lima - Echo
26       DeltaRig  RotterdamPort  Kilo - Juliett - Hotel - Golf
27       DeltaRig       AlphaRig                 Kilo - Juliett
28       DeltaRig        BetaRig                 Kilo - Juliett
29       DeltaRig     CharlieRig                 Kilo - Juliett

In [87]:
path_df['SeqList'] = path_df['StartNode'] + ' - ' + path_df['Sequence'] + ' - ' + path_df['EndNode']
path_df['SeqList'] = path_df['SeqList'].apply(lambda x: x.replace('Direct Route - ', ''))
path_df['SeqList'] = path_df['SeqList'].apply(lambda x: x.split(' - '))
path_df['SeqList']

0     [HamburgPort, Echo, Foxtrot, Hotel, Golf, Rott...
1                [HamburgPort, Echo, Foxtrot, AlphaRig]
2          [HamburgPort, Echo, Foxtrot, India, BetaRig]
3                 [HamburgPort, Echo, Lima, CharlieRig]
4     [HamburgPort, Echo, Lima, Juliett, Kilo, Delta...
5     [RotterdamPort, Golf, Hotel, Foxtrot, Echo, Ha...
6                [RotterdamPort, Golf, Hotel, AlphaRig]
7          [RotterdamPort, Golf, Hotel, India, BetaRig]
8              [RotterdamPort, Golf, Hotel, CharlieRig]
9     [RotterdamPort, Golf, Hotel, Juliett, Kilo, De...
10               [AlphaRig, Foxtrot, Echo, HamburgPort]
11               [AlphaRig, Hotel, Golf, RotterdamPort]
12                           [AlphaRig, India, BetaRig]
13                               [AlphaRig, CharlieRig]
14                  [AlphaRig, Juliett, Kilo, DeltaRig]
15         [BetaRig, India, Foxtrot, Echo, HamburgPort]
16         [BetaRig, India, Hotel, Golf, RotterdamPort]
17                           [BetaRig, India, AlphaRig]
18                                [BetaRig, CharlieRig]
19                   [BetaRig, Juliett, Kilo, DeltaRig]
20                [CharlieRig, Lima, Echo, HamburgPort]
21             [CharlieRig, Hotel, Golf, RotterdamPort]
22                               [CharlieRig, AlphaRig]
23                                [CharlieRig, BetaRig]
24                [CharlieRig, Juliett, Kilo, DeltaRig]
25    [DeltaRig, Kilo, Juliett, Lima, Echo, HamburgP...
26    [DeltaRig, Kilo, Juliett, Hotel, Golf, Rotterd...
27                  [DeltaRig, Kilo, Juliett, AlphaRig]
28                   [DeltaRig, Kilo, Juliett, BetaRig]
29                [DeltaRig, Kilo, Juliett, CharlieRig]
Name: SeqList, dtype: object

In [88]:
def distance_of_path(df) :
    distance = 0
    for i in range(1, len(df['SeqList'])) :
        lat1 = node_df.loc[node_df['NodeName'] == df['SeqList'][i-1], 'Latitude'].values[0]
        lon1 = node_df.loc[node_df['NodeName'] == df['SeqList'][i-1], 'Longitude'].values[0]
        lat2 = node_df.loc[node_df['NodeName'] == df['SeqList'][i], 'Latitude'].values[0]
        lon2 = node_df.loc[node_df['NodeName'] == df['SeqList'][i], 'Longitude'].values[0]
        distance += geopy.distance.geodesic((lat1, lon1), (lat2, lon2), ellipsoid='WGS-84').km
    # print(distance, df['SeqList'][0], df['SeqList'][i])
    return distance # total distance of path in km

path_df['TotalDistance'] = path_df.apply(distance_of_path, axis=1)
path_df

,StartNode,EndNode,Sequence,SeqList,TotalDistance
0,HamburgPort,RotterdamPort,Echo - Foxtrot - Hotel - Golf,"[HamburgPort, Echo, Foxtrot, Hotel, Golf, Rott...",678.957943
1,HamburgPort,AlphaRig,Echo - Foxtrot,"[HamburgPort, Echo, Foxtrot, AlphaRig]",514.452721
2,HamburgPort,BetaRig,Echo - Foxtrot - India,"[HamburgPort, Echo, Foxtrot, India, BetaRig]",797.285822
3,HamburgPort,CharlieRig,Echo - Lima,"[HamburgPort, Echo, Lima, CharlieRig]",756.192252
4,HamburgPort,DeltaRig,Echo - Lima - Juliett - Kilo,"[HamburgPort, Echo, Lima, Juliett, Kilo, Delta...",1245.837601
5,RotterdamPort,HamburgPort,Golf - Hotel - Foxtrot - Echo,"[RotterdamPort, Golf, Hotel, Foxtrot, Echo, Ha...",678.957943
6,RotterdamPort,AlphaRig,Golf - Hotel,"[RotterdamPort, Golf, Hotel, AlphaRig]",362.062182
7,RotterdamPort,BetaRig,Golf - Hotel - India,"[RotterdamPort, Golf, Hotel, India, BetaRig]",704.955207
8,RotterdamPort,CharlieRig,Golf - Hotel,"[RotterdamPort, Golf, Hotel, CharlieRig]",735.059776
9,RotterdamPort,DeltaRig,Golf - Hotel - Juliett - Kilo,"[RotterdamPort, Golf, Hotel, Juliett, Kilo, De...",1244.131716
10,AlphaRig,HamburgPort,Foxtrot - Echo,"[AlphaRig, Foxtrot, Echo, HamburgPort]",514.452721
11,AlphaRig,RotterdamPort,Hotel - Golf,"[AlphaRig, Hotel, Golf, RotterdamPort]",362.062182
12,AlphaRig,BetaRig,India,"[AlphaRig, India, BetaRig]",347.917091
13,AlphaRig,CharlieRig,Direct Route,"[AlphaRig, CharlieRig]",389.215293
14,AlphaRig,DeltaRig,Juliett - Kilo,"[AlphaRig, Juliett, Kilo, DeltaRig]",895.935646
15,BetaRig,HamburgPort,India - Foxtrot - Echo,"[BetaRig, India, Foxtrot, Echo, HamburgPort]",797.285822
16,BetaRig,RotterdamPort,India - Hotel - Golf,"[BetaRig, India, Hotel, Golf, RotterdamPort]",704.955207
17,BetaRig,AlphaRig,India,"[BetaRig, India, AlphaRig]",347.917091
18,BetaRig,CharlieRig,Direct Route,"[BetaRig, CharlieRig]",129.233997
19,BetaRig,DeltaRig,Juliett - Kilo,"[BetaRig, Juliett, Kilo, DeltaRig]",579.632719
20,CharlieRig,HamburgPort,Lima - Echo,"[CharlieRig, Lima, Echo, HamburgPort]",756.192252
21,CharlieRig,RotterdamPort,Hotel - Golf,"[CharlieRig, Hotel, Golf, RotterdamPort]",735.059776
22,CharlieRig,AlphaRig,Direct Route,"[CharlieRig, AlphaRig]",389.215293
23,CharlieRig,BetaRig,Direct Route,"[CharlieRig, BetaRig]",129.233997
24,CharlieRig,DeltaRig,Juliett - Kilo,"[CharlieRig, Juliett, Kilo, DeltaRig]",509.245705
25,DeltaRig,HamburgPort,Kilo - Juliett - Lima - Echo,"[DeltaRig, Kilo, Juliett, Lima, Echo, HamburgP...",1245.837601
26,DeltaRig,RotterdamPort,Kilo - Juliett - Hotel - Golf,"[DeltaRig, Kilo, Juliett, Hotel, Golf, Rotterd...",1244.131716
27,DeltaRig,AlphaRig,Kilo - Juliett,"[DeltaRig, Kilo, Juliett, AlphaRig]",895.935646
28,DeltaRig,BetaRig,Kilo - Juliett,"[DeltaRig, Kilo, Juliett, BetaRig]",579.632719
29,DeltaRig,CharlieRig,Kilo - Juliett,"[DeltaRig, Kilo, Juliett, CharlieRig]",509.245705

In [123]:
graph = dict()
for row in path_df.itertuples() :
    # print(row.SeqList)
    for i in range(0, len(row.SeqList)) :
        if row.SeqList[i] not in graph :
            graph[row.SeqList[i]] = set()
        if i == 0 :
            graph[row.SeqList[i]].add(row.SeqList[i+1])
        else :
            self = row.SeqList[i-1:i+2:1][1]
            neighbor = row.SeqList[i-1:i+2:1]
            neighbor.remove(self)
            graph[row.SeqList[i]].update(neighbor)
        # print(graph[row.SeqList[i]])
        # print(row.SeqList[i-1:i], row.SeqList[i+1:i+2])
    
    # add additional challenge problem node
graph['DeltaRig'].update(['Mike'])
graph['Mike'] = set(['DeltaRig', 'BelfastPort'])
graph['BelfastPort'] = set(['Mike'])
print(graph)

{'HamburgPort': {'Echo'}, 'Echo': {'Lima', 'Foxtrot', 'HamburgPort'}, 'Foxtrot': {'Hotel', 'Echo', 'AlphaRig', 'India'}, 'Hotel': {'AlphaRig', 'India', 'Foxtrot', 'CharlieRig', 'Juliett', 'Golf'}, 'Golf': {'RotterdamPort', 'Hotel'}, 'RotterdamPort': {'Golf'}, 'AlphaRig': {'India', 'Foxtrot', 'CharlieRig', 'Juliett', 'Hotel'}, 'India': {'Hotel', 'Foxtrot', 'AlphaRig', 'BetaRig'}, 'BetaRig': {'India', 'CharlieRig', 'Juliett'}, 'Lima': {'Echo', 'CharlieRig', 'Juliett'}, 'CharlieRig': {'AlphaRig', 'BetaRig', 'Juliett', 'Hotel', 'Lima'}, 'Juliett': {'AlphaRig', 'BetaRig', 'CharlieRig', 'Kilo', 'Hotel', 'Lima'}, 'Kilo': {'DeltaRig', 'Juliett'}, 'DeltaRig': {'Mike', 'Kilo'}, 'Mike': {'DeltaRig', 'BelfastPort'}, 'BelfastPort': {'Mike'}}

In [143]:
def generate_edges(graph):
    edges = set()
    for node in graph:
        for neighbour in graph[node]:
            edges.add(frozenset([node, neighbour]))

    return edges

generate_edges(graph)

edgedata = {'StartNode': [], 'EndNode': []}
for edge in generate_edges(graph) :
    edge = list(edge)
    edgedata['StartNode'].append(edge[0])
    edgedata['EndNode'].append(edge[1])

EdgeData = pd.DataFrame(edgedata)

def distance_of_edge(df) :
    distance = 0
    lat1 = node_df.loc[node_df['NodeName'] == df['StartNode'], 'Latitude'].values[0]
    lon1 = node_df.loc[node_df['NodeName'] == df['StartNode'], 'Longitude'].values[0]
    lat2 = node_df.loc[node_df['NodeName'] == df['EndNode'], 'Latitude'].values[0]
    lon2 = node_df.loc[node_df['NodeName'] == df['EndNode'], 'Longitude'].values[0]
    distance += geopy.distance.geodesic((lat1, lon1), (lat2, lon2), ellipsoid='WGS-84').km
    return distance # total distance of edge in km

EdgeData['Distance'] = EdgeData.apply(distance_of_edge, axis=1)
EdgeData

     StartNode        EndNode    Distance
0         Golf          Hotel  155.575993
1        Hotel        Juliett  711.340874
2        India        Foxtrot  348.253375
3   CharlieRig        Juliett  197.466610
4     DeltaRig           Kilo  120.758369
5     AlphaRig     CharlieRig  389.215293
6         Mike       DeltaRig  403.948666
7         Lima     CharlieRig  333.256691
8         Kilo        Juliett  191.020726
9        Hotel       AlphaRig  141.050435
10     Foxtrot       AlphaRig  197.556960
11       Hotel     CharlieRig  514.048028
12     Juliett        BetaRig  267.853624
13    AlphaRig        Juliett  584.156551
14       India          Hotel  351.806775
15        Mike    BelfastPort  229.985061
16        Echo    HamburgPort  112.185885
17       Hotel        Foxtrot  141.050435
18     Foxtrot           Echo  204.709877
19       India        BetaRig  132.136685
20        Lima        Juliett  511.122946
21  CharlieRig        BetaRig  129.233997
22        Golf  RotterdamPort   65.435754
23       India       AlphaRig  215.780406
24        Lima           Echo  310.749676

In [ ]:
EdgeData.to_csv('EdgeData.csv', index=False)